.content {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.controls {
  background-color: Cornsilk;
  width:100%;
  font-size: 12px;
  padding: 5px 5%;
  margin-bottom:5px;
}

.controls button {
  font-size: 12px;
  padding: 2px 5px;
  background-color: SteelBlue;
  color: #FFFFFF;

  border-color: #000000;
}
.controls .radio-group, .controls .select-route, .controls button {
  margin-right: 15px;
}

.controls .loading {
  display: inline-block;
}

.controls .last-updated {
  margin-right: 10px;
}

.trip-update {
  display:none;
}

.trip-heading {
  font-size: 12px;
  cursor: pointer;
}

.trip-update td, .trip-update tr {
  font-size: 10px;
}

.trip-update thead>tr {
  background-color: SteelBlue;
  color: #FFFFFF;
}

.trip-update td:nth-child(1), .trip-update td:nth-child(3){
  width: 28%;
}
